<h1><div id = "edit">Edit</div></h1>

<%= form_for(@user) do |f| %>
<%= render 'users/error_messages' %>
  <div class="field">
    <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
    
    <%= f.label :email %><br/>
    <%= f.text_field :email %><br />
    
    <%= f.label :password %><br/>
    <%= f.password_field :password %><br />
    
    <%= f.label :password_confirmation, "Confirmation" %><br/>
    <%= f.password_field :password_confirmation %><br />
    
    <%= f.submit "Sign up" %>
    </p>
  </div>
<% end %>