<div id = "centered">
  <div id = "comic_box">
			
			<%=  render :partial => "pages/home_page_comic" %>
			<br/>
			<%=  render :partial => "pages/home_left_navigation" %>
			<%=  render :partial => "pages/right_navigation" %>
  </div>
  <%= Comic.last.name %>
</div>

  <div id= "comment_box">
    <%= render :partial => "pages/comments" %>
  </div>
  <div id= "description_box">
	  <%=  render :partial => "pages/description"%>
  </div>