<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'print.css',  :media => 'print' %>
  <%= stylesheet_link_tag 'mainsheet.css', :media => 'screen'%>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<div id="title_block"> 
		<%= render :partial => "pages/title_bar" %>
	</div>
	<div id="nav_bar"> 
		 <%= render :partial => "pages/nav_bar" %>
	</div>
  
		<%= yield %>

</body>
<%= debug(params) if Rails.env.development? %>


</html>
